@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-info"><span class="fa fa-info-circle"></span>Esta conta foi bloqueada. Tente novamente mais tarde.
    </p>
</header>
